server/db_data
server/instance
instance

*.pyc
/.vagrant
.idea
virtualenv
htmlcov
python3cep
PG_9*
*.log
__pycache__
.onidata-cep
staticfiles/
.coverage
coverage.xml
node_modules
*.map
*.swp
*.swo
*.orig
.env
uploads/
junit_results_xml/
.local/
*.sublime-*
prof/
test-results/
.vscode